
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <%= form_for(@club) do |f| %>
            <% if @club.errors.any? %>
              <div id="error_explanation">
                <h2>There were some errors</h2>
                <ul>
                  <% @club.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name, "Club Name" %><br>
              <%= f.text_field :name, :size=>"56" %>
            </div>

            <div class="form-group">
              <%= f.label :description %><br>
              <%= f.text_area :description, size: "55x8" %>
            </div>

            <div class="form-group">
              <%= f.label :url, "Club Link" %><br>
              <%= f.text_area :url, :size=>"55x2" %>
            </div>

            <div class="form-group">
              <%= f.label :state, "State" %><br>
              <%= f.select :state, us_states %>
            </div>

            <div class="form-group">
              <%= f.label :city %><br>
              <%= f.text_field :city %>
            </div>

            <div class="form-group">
              <%= f.label :contact %><br>
              <%= f.text_field :contact %>
            </div>

            <div class="actions">
              <%= f.submit :Submit, class: 'btn btn-submit-form' %>
              <%= link_to "Cancel", clubs_path(@club), :class=>"btn btn-xs btn-cancel" %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>