<div class="text-center">
  <h1><b>Clubs Near Me</b></h1>
</div>

<div>
  <%= link_to new_club_path, method: :get do %>
    <i class="fas fa-plus-square fa-2x"></i>
  <% end %>
</div>
<br>

<% if @clubs.empty? %>
    <p><b>There do not appear to be any clubs in your area. Try searching for a city/state in the search bar, or view all clubs.</b></p>
<% else %>
  <div class="card-deck">
    <% @clubs.each do |club| %>
      <div class="card">
        <div class="card-body">
          <a href="<%= club_path(club) %>" class="card-title"><h4 class="media-heading"><%= club.name %></h4></a>
          <small><i><%= club.city %>, <%= club.state %></i></small><br>
          <hr>
          <p class="card-text"><%= club.description %></p>
        </div>
        <div class="card-footer">
          <small><%= club.users.count %> <%= (club.users.count) == 1 ? 'Member' : 'Members'%></small><br>
          <small class="text-muted"><%= time_ago_in_words(club.created_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
