<h1>Pickleball Central</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "fadeIn", class: "favoriteInput"%><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: "fadeIn third", class: "favoriteInput" %>

      <%= f.submit "Signin", class: "fadeIn fourth", class: "favoriteButton" %>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a><br>
      <%= link_to('Log in with Facebook!', '/auth/facebook') %><br>
      <%= link_to "Sign Up", new_user_path, class: "underlineHover" %>
    </div>

  </div>
</div>
