<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "fadeIn", class: "favoriteInput" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "fadeIn", class: "favoriteInput" %>
  </div>
  <% if current_user %>
    <div class="field">
      <%= f.label :utpr_d, "Doubles UTPR" %><br>
      <%= f.select(:utpr_d, [1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0], {include_blank: true}, { :class => '#' }) %>
    </div>
    <div class="field">
      <%= f.label :utpr_m, "Mixed UTPR" %><br>
      <%= f.select(:utpr_m, [1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0], {include_blank: true}, { :class => '#' }) %>
    </div>
    <div class="field">
      <%= f.label :utpr_s, "Singles UTPR" %><br>
      <%= f.select(:utpr_s, [1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0], {include_blank: true}, { :class => '#' }) %>
    </div>
    <div class="field">
      <%= f.label :state, "State" %><br>
      <%= f.select :state, options_for_select(us_states), class: "fadeIn", class: "favoriteInput" %>
    </div>
    <div class="field">
      <%= f.label :city, "City" %><br>
      <%= f.text_field :city, class: "fadeIn", class: "favoriteInput" %>
    </div>
    <div class="field">
      <%= f.label :member_num, "Member Number" %><br>
      <%= f.text_field :member_num, class: "fadeIn", class: "favoriteInput" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "fadeIn", class: "favoriteInput" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <% if current_user %>
      <%= f.password_field :password, placeholder: "Confirm Current Password", class: "fadeIn third", class: "favoriteInput" %>
      <div class="actions">
        <br><%= f.submit "Save", class: 'btn btn-success', class: "fadeIn fourth", class: "favoriteButton" %>
      </div>
    <% else %>
      <%= f.password_field :password, placeholder: "New Password", class: "fadeIn third", class: "favoriteInput" %>
      <div class="actions">
        <br><%= f.submit :Submit, class: 'btn btn-success', class: "fadeIn fourth", class: "favoriteButton" %>
      </div>
    <% end %>
  </div>

<% end %>
