<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <% if current_user %>
    <div class="field">
      <%= f.label :utpr_d, "Doubles UTPR" %><br>
      <%= f.text_field :utpr_d %>
    </div>
    <div class="field">
      <%= f.label :utpr_m, "Mixed UTPR" %><br>
      <%= f.text_field :utpr_m %>
    </div>
    <div class="field">
      <%= f.label :utpr_s, "Singles UTPR" %><br>
      <%= f.text_field :utpr_s %>
    </div>
    <div class="field">
      <%= f.label :club, "Club" %><br>
      <%= f.text_field :club %>
    </div>
    <div class="field">
      <%= f.label :state, "State" %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :city, "City" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :member_num, "Singles UTPR" %><br>
      <%= f.text_field :member_num %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <% if current_user %>
      <%= f.password_field :password, placeholder: "Current Password" %>
    <% else %>
      <%= f.password_field :password, placeholder: "New Password" %>
    <% end %>
  </div>
  <div class="actions">
    <br><%= f.submit :Submit, class: 'btn btn-success' %>
  </div>
<% end %>
