<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-2">
    <% if @user.image %>
      <img src="<%= @user.image %>", class="user_pic">
    <% end %>
  </div>
</div>

<div class="">
  <h3 class="media-heading"><%= @user.first_name + " " + @user.last_name %></h3>
  <span class=" badge badge-warning">Pickle Points: <%= @user.score %></span>
</div>

<span><strong>State: </strong></span>
  <span class="label label-warning"><%= @user.state %></span>
</center><br>
<span class=" badge badge-success"><%= @user.posts.count %> <%= (@user.posts.count) == 1 ? 'Post' : 'Posts'%></span>
<span class=" badge badge-info"><%= @user.comments.count %> <%= (@user.comments.count) == 1 ? 'Comment' : 'Comments'%></span>

  <hr>

<div class="row">
  <% if @user.utpr_d || @user.utpr_m || @user.utpr_s %>
    <div class="col-md-6">
      <div class="d-flex w-100 center">
          <p class="mb-1"><b><u><%= @user.first_name + "'s UTPR Values" %></u></b></p>
      </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Doubles</th>
            <th scope="col">Mixed</th>
            <th scope="col">Singles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.utpr_d %></td>
            <td><%= @user.utpr_m %></td>
            <td><%= @user.utpr_s %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="list-group">
      <a href="<%= clubs_path %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <p class="mb-1"><b>Recent Clubs Created</b></p>
          </div>
      </a>
      <% @clubs.each do |club| %>
        <a href="/clubs/<%= club.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= club.name %> </h5>
            <h6 class="mb-1"> Club Admin: <%= find_club_admin(club).first_name + " " + find_club_admin(club).last_name %> </h6>
          </div>
          <p class="mb-1">Members: <%= club.users.count %> | Club State: <%= club.state %> | Club City: <%= club.city %></p>
          <b>Description:</b> <br>
            <small><%= club.description %></small>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <h3><u>Clubs <%= @user.first_name %> is in:</u></h3>
  <% @user.clubs.each do |club| %>
    <%= link_to club.name, club_path(club) %><br>
  <% end %>
</div>
<br>
<br>

<u><%= @user.first_name %>'s Posts:<br></u>

  <% @user.posts.each do |post| %>
  <li>
    <%= link_to post.title, post_path(post) %><br>
  </li>

  <% end %>
