<%= button_to 'Create Tournament Page', new_tournament_path, method: :get, class: 'btn btn-primary' %><br>

<% @tournaments.each do |tournament| %>
  <div class="container">
  	<div class="col-md-5">
      <div class="panel panel-default">
          <div class="panel-body">
             <section class="post-heading">
                <div class="row">
                    <div class="col-md-11">
                        <div class="media">
                          <div class="media-left">
                          </div>
                          <div class="media-body">
                            <a href="<%= tournament_path(tournament) %>" class="anchor-username"><h4 class="media-heading"><%= tournament.name %></h4></a>
                            <br>
                            <%= time_ago_in_words(tournament.created_at) %> ago
                            <hr>
                          </div>
                        </div>
                    </div>
                  </div>
             </section>
             <section class="post-body">
                 <p><%= tournament.description %></p>
             </section>
             <section class="post-footer">
                 <hr>
                 <div class="post-footer-option container">
                      <ul class="list-unstyled">
                        <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                        <li><a href="<%= tournament_path(tournament) %>
  "><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                        <li><a href="http://www.facebook.com/sharer.php?u=https://pickle-up.com" target="_blank"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                      </ul>
                 </div>
              </section>
           </div>
         </div>
     	</div>
     </div>
   <% end %>
