<div class="text-center">
  <h1><%= @tournament.name %></h1>
  <hr>
  <h6><%= "Users Following this Tournament: #{@tournament.follows.count}" %></h6>
</div>

<div class="text-center">
  <% pre_follow = @tournament.follows.find { |follow| follow.user_id == current_user.id} %>
  <% if pre_follow %>
    <%= button_to 'UnFollow', tournament_follow_path(@tournament, pre_follow), method: :delete, class: 'btn btn-danger' %><br>
  <% else %>
    <%= button_to 'Follow', tournament_follows_path(@tournament), method: :post, class: 'btn btn-info' %><br>
  <% end %>

  <% if @tournament.is_director?(current_user) %>
    <%= button_to 'Delete Tournament', { :controller => "tournaments", :action => "destroy", :tournament_id => @tournament.id, :user_id=> session[:user_id] }, :method=>:delete, data: { confirm: "Are you sure you want to delete this tournament?" }, class: 'btn btn-danger' %>
  <% end %>
  <p id="notice"><%= notice %></p>
  <h3>"<%= @tournament.description %>"</h3>
</div>

<div class="row">
  <% if @tournament.state || @tournament.city %>
    <div class="col-md-3">
      <div class="d-flex w-100 center">
          <p class="mb-1"></p>
      </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Director</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @tournament.state %></td>
            <td><%= @tournament.city %></td>
            <td><%= find_td(@tournament) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<hr>


<section class="section comments">
	<div class="container">
		<h2 class="subtitle is-5"><strong><%= @tournament.tournament_comments.count %></strong> Comments</h2>

    <% @tournament.tournament_comments.each do |comment| %>
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= comment.user.first_name + " " + comment.user.last_name%>:</strong>
                <%= comment.content %><br>
                <% if comment.user == current_user %>
                  <a href="/tournaments/<%= comment.tournament.id %>/tournament_comments/<%=comment.id %>/delete"> Delete Comment</a>
                <% end %>
              </p>
            </div>
          </div>
        </article>
      <% end %>
    </div>



		<div class="comment-form">
			<hr />
			<h3 class="subtitle is-3">Leave a reply</h3>
	 		<%= render 'comments/form' %>
		</div>
	</div>
</section>
