<div class="container py-2">
  <div class="text-center">
    <h1><b>Pickleball Posts</b></h1>
  </div>

  <%= button_to 'Create New Post', new_post_path, method: :get, class: 'btn btn-submit-form' %><br>
  <% if @posts.any? %>

    <% @posts.to_enum.with_index.reverse_each do |post, index| %>
    <!-- timeline item 1 -->
    <!--/row-->
    <!-- timeline item 2 -->
      <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                  <span class="badge badge-pill bg-success">&nbsp;</span>
              </h5>
              <% if post != @posts.first %>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
              <% end %>
          </div>
          <div class="col py-2">
              <div class="card shadow">
                  <div class="card-body">
                    <% if post.user.tournaments.count > 0 %>
                      <a href="/users/<%= post.user.id %>"><%= image_tag(post.user.image, :class => "profile-image-small tournament-director") if post.user.image.attached? %></a>
                    <% else %>
                      <a href="/users/<%= post.user.id %>"><%= image_tag(post.user.image, :class => "profile-image-small") if post.user.image.attached? %></a>
                    <% end %>
                      <div class="float-right time-ago-card"><%= time_ago_in_words(post.created_at) %> ago</div>
                      <h4 class="card-title"><%= post.title %></h4>
                      <small>
                        <b>Written by:</b>
                        <%= link_to(post.user) do %>
                          <strong><%= post.user.first_name + " " + post.user.last_name%></strong>
                        <% end %>
                      </small><br>
                      <% if post.category != "" %>
                        <span class=" badge badge-secondary">Category: <%= post.category %></span>
                      <% end %>
                      <span class=" badge badge-info">Comments: (<%= post.comments.count %>)</span>
                      <span class=" badge badge-danger">Likes: (<%= post.likes.count %>)</span>
                      <hr>

                      <p class="card-text"><%= post.content %></p>
                      <%= button_to 'View Post', post_path(post), method: :get, class: 'btn btn-sm' %>
                  </div>
              </div>
          </div>
      </div>
    <% end %>

  <% end %>
</div>
