<div class="wrapper">
  <div class="text-center post-header">
    <h2><u><%= @post.title %></u></h2>
    <% content_for :page_title, @post.title %>
    <strong>by:
    <%= link_to(@post.user) do %>
      <%= @post.user.first_name + " " + @post.user.last_name%>
    <% end %>
    </strong>
    <br>
    <p><%= time_ago_in_words(@post.created_at) %> ago</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <% if current_user %>
          <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like && @post.user != current_user %>
            <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
          <% elsif @post.user != current_user %>
            <%= button_to 'Like', post_likes_path(@post), method: :post %>
          <% end %>
        <% else %>
            <%= link_to 'Like', new_user_path %>
        <% end %>
      </li>
      <li class="list-inline-item">
        <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      </li>
    </ul>
  </div>
</div>


<div>
  <p class="lead">
    <br> <%= @post.content %>
  </p>
  <br>
</div>

<hr>


  <section class="section">
  	<div class="container">
  		<nav class="level">
  		  <!-- Left side -->
  		  <div class="level-left">
  		  </div>
  		  <!-- Right side -->
  		  <div class="level-right">
          <% if current_user == @post.user %>
    		  	<p class="level-item">
              <%= button_to 'Edit Details', edit_post_path(@post), method: :get, class: 'btn btn-warning' %>
    		  	</p>
    		  	<p class="level-item">
            <%= button_to 'Delete Post', { :controller => "posts", :action => "destroy", :post_id => @post.id, :user_id=> session[:user_id] }, :method=>:delete, data: { confirm: "Are you sure you want to delete this Post?" }, class: 'btn btn-cancel' %>
    				</p>
          <% end %>
  		  </div>
  		</nav>
  	</div>
  </section>


  <section class="section comments">
  	<div class="container">
  		<h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> <%= (@post.comments.count) == 1 ? 'Comment' : 'Comments'%></h2>
  		<%= render @post.comments %>
  		<div class="comment-form">
  			<hr />
  			<h3 class="subtitle is-3">Leave a reply</h3>
  	 		<%= render 'comments/form' %>
  		</div>
  	</div>
  </section>
