<!DOCTYPE html>
<html>
  <head>
    <title>Pickleball Social</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%#= javascript_include_tag 'application', '': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('ps_favicon.png') %>
  </head>
  <%= stylesheet_link_tag "typewriter" %>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">

  <body>
    <% if !current_user %>
      <nav hidden class="navbar navbar-expand-lg navbar-light bg-light ">
    <% end %>
      <% if current_user %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= signout_path %>">Log Out |</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if current_user %>
              <a class="nav-link" href="<%= root_url %>">Home <span class="sr-only">(current)</span></a>
            <% end %>
          </li>
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tournaments
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= tournaments_path %>">All Tournaments</a>
                <a class="dropdown-item" href="<%= near_path %>">Tournaments Near Me</a>
                <a class="dropdown-item" href="<%= followed_path %>">Tournaments I Follow</a>
                <% if current_user.tournaments.count > 0 %>
                  <a class="dropdown-item" href="<%= user_tournaments_path({:user_id => current_user.id}) %>">My Tournaments</a>
                <% end %>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= new_tournament_path %>">Create Tournament</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= clubs_path %>">All Clubs</a>
                <a class="dropdown-item" href="<%= near_club_path %>">Clubs Near Me</a>
                <a class="dropdown-item" href="<%= my_clubs_path %>">My Clubs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= new_club_path %>">Create Club</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posts
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= posts_path %>">All Posts</a>
                <a class="dropdown-item" href="<%= liked_path %>">Liked Posts</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= new_post_path %>">Create Post</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= edit_user_path(current_user) %>">Profile Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= my_resources_path %>">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.places2play.org/" target="_blank">Venues (External Link)</a>
            </li>
          </ul>
          <%= form_tag(search_path, method: 'get', class: 'form-inline my-2 my-lg-0') do %>
          	<%= search_field_tag 'search', params[:search], class: 'form-control mr-sm-2', placeholder: 'state/city/player...' %>
          	<%= submit_tag "Submit", class: 'btn search-btn my-2 my-sm-0', :name => nil %>
          <% end %>
        </div>
      <% end %>
    </nav>
    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
